@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 ">
    <div class="row h-100">
        <div class="col-12">
            <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-dark">
                <h1 class="display-4">Hello Kiddie</h1>
                <p class="lead">Like a precocious child that doesn't go away.</p>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mx-auto">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="your@email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark btn-lg rounded-right" type="button">Sign-up</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mx-auto">
                    <div class="btn-group">
                        <a href="theme.css" class="btn btn-outline-dark btn-lg">
                            Download Theme
                        </a>
                        <button type="button" class="btn btn-lg btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Downloads</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="theme.css">theme.css</a>
                            <a class="dropdown-item" href="theme.min.css">theme.min.css</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="theme.scss">theme.scss</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" target="new" href="https://github.com/ThemesGuide/bootstrap-themes/tree/master/hello_kiddie">Full template</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
