@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="alert alert-warning alert-dismissible fade show" id="cookieConsent" role="alert">
        <strong>Utilice este espacio para aplicar su política de privacidad y uso de cookies. </strong> <a asp-area="" asp-controller="Home" asp-action="Privacy">Leer Más</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

 
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
